@import url(variables.css);

@import url(header.css);
@import url(hero.css);
@import url(proyectos.css);
@import url(tecnologias.css);
@import url(contacto.css);

html {
    scroll-behavior: smooth;
    font-family: var(--SECUNDARIA, arial);
}
body {
    background-color: whitesmoke;
    color: var(--AZUL, blue);
}
main {
    margin: 0 10dvw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
section {
    margin-bottom: 4em;
}
h2 {
    font-family: var(--PRINCIPAL, Geneva);
    font-size: 36pt;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 0.2em;
}
footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
    height: 10dvh;
    border-top: solid 1px gainsboro;
    margin-top: 4em;
}
footer p {
    font-weight: 200;
    color: gray;
}
footer a {
    text-decoration: none;
    color: var(--NARANJA_FUERTE, orangered);
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer a svg {
    color: var(--NARANJA_SUAVE, orange;
    height: 16pt;
    width: auto;
    transition: color 0.4s ease;
}